.App {
  text-align: left;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
}

.App-header {
  background-color: lightgray;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-name {
  padding: calc(10px + 2vmin);
}

.App-header img {
  padding-right: 30px;
}

.app {
  color: #162327;
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.app-content {
  display: grid;
  grid-template-columns: minmax(320px, 1200px);
  justify-content: center;
  margin: 0 8px;
  position: relative;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 4px 8px;
}

tr:hover {
  background-color: #c3dcdc;
}

code {
  font-family: "Lucida Console", monospace;
  background-color: #dbdbdb;
  border: 1px solid gray;
  padding: 3px;
}

.for_screen_readers {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
