.autocomplete-items {
    position: absolute;
    border: 1px solid #C3DCDC;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    overflow: auto;
    max-height: 250px;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: white;
    border-bottom: 1px solid #C3DCDC;
    width: 95%;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #B6E8B8;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #00824D !important;
    color: white;
}