textarea {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  font-size: 16px;
  font-family: 'Open Sans', Arial, 'DejaVu Sans', sans-serif;
}

section {
  border-color: #f1f1f1;
  margin: 10px 0 10px 0;
  max-width: 650px;
}

.datepicker {
  font-size: 16px;
  font-family: 'Open Sans', Arial, 'DejaVu Sans', sans-serif;
  border: 1px solid black;
  padding: 8px 4px;
  margin: 5px 0;
  display: block;
  text-align: center;
  width: 275px;
}

/* #56 disable input type number arrows
/* For mozilla - cannot be used until field validation is implemented
input[type=number] {
  -moz-appearance: textfield;
  appearance: auto;
  margin: 0;
}
*/

/*For Chrome*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
