html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Lucida Console', monospace;
  background-color: #dbdbdb;
  border: 1px solid gray;
  padding: 3px;
}

.active {
  color: darkgreen;
}
a {
  color: #162327;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-stretch: condensed;
  font-weight: bold;
}

h1, .h1 {
  font-size: 56px;
  line-height: 80px;
}

h2, .h2 {
  font-size: 28px;
  line-height: 40px;
}

h3, .h3 {
  font-stretch: normal;
  font-size: 20px;
  line-height: 32px;
}

p, .p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 4px 8px;
}

tr:hover {
  background-color: #c3dcdc;
}

.for_screen_readers {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
