* {
    border: 0;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
}
#appWrapper {
    font-family: sans-serif;
    font-weight: 300;
    padding: 3rem;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    line-height: 1.5;
    font-size: 0.9rem;
    box-sizing: border-box;
    height: 100%;
    background: linear-gradient(to top left, #a9a9a9, #d2d2d2);
}
.lists {
    display: flex;
    margin: 0;
    padding: 0;
}
.itemList {
    font-family: sans-serif;
    font-weight: 300;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    counter-reset: list;
    z-index: 1;
}
.item {
    list-style: none;
    margin: 0.4rem 0;
    color: #555;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    cursor: -webkit-grab;
    cursor: grab;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.3);
    transition-timing-function: ease;
    transition-duration: 0.4s;
    transition-property: transform opacity;
}
.item .content {
    padding: 1rem 2rem 1rem 1rem;
}
.item.touched {
    opacity: 0.5 !important;
    cursor: -webkit-grabbing;
    cursor: grabbing;
    z-index: -1;
}
.item:before {
    content: counter(list);
    position: relative;
    padding: 0 1rem;
    top: 0;
    color: #bbb;
    font-weight: 700;
    font-family: 'Lucida Sans Console', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    counter-increment: list;
    background: #f5f5f6;
}
