.rank-tooltip {
    top: -800% !important;
    left: 50% !important;
    margin-left: -95px !important;
    text-align: justify !important;
    width: 170px !important;
    padding: 10px !important;
}

.rank-tooltip::after {
    bottom: -20px !important;
    left: 50% !important;
    margin-left: -10px !important; 
    border-width: 10px !important;
    border-color: #274247 transparent transparent transparent !important;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #274247;
}
.tooltip:focus {
    outline: none;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #274247;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #274247 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}