.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #274247;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #274247 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.rank-text-tooltip .rank-tooltip {
  top: -800%;
  left: 50%;
  margin-left: -95px;
  text-align: justify;
  width: 170px;
  padding: 10px;
}

.rank-text-tooltip .rank-tooltip::after {
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-color: #274247 transparent transparent transparent;
}
