/* How to use the colors:
https://statisticsnorway.github.io/design-system/#/components/color
Primary Colors */
$Green7: #00824D;
$Green1: #ECFEED;
$White: #FFFFFF;
$Dark1: #F0F8F9;
$Dark5: #274247;

//Supporting Colors
$Green3: #1A9D49;
$Green2: #B6E8B8;
$Dark2: #C3DCDC;
$Dark3: #62919A;
$Dark4: #2D6975;

//Figure Colors like frame on color or texts etc..
$TextDark6: #162327;
$FrameXYDark5: #274247;
$FrameBodyLinesDark2: #C3DCDC;

//Spacing between elements
$Gutter: 20px;
$Colom1: 80px;
$Colom2: 180px;
$Colom3: 240px;
$Colom4: 340px;
$Colom6: 460px;
$Colum12: 1180px;
