@import '_master.scss';

.subset-preview {
    .subset-preview-titles {
        display: inline-block;
    }
}

.subset-banner {
    width: 100%;
    .subset-banner-p {
        line-height: 0.5;
    }
}

.subsets {

}