@import '_master.scss';

.subset-metadata {
    & .subset-metadata-date-picker-row {
        display: inline-flex;
        justify-content: space-evenly;
        div:first-child {
            margin-right: 20px;
        }
    }
    & .ssb-text-area {
        & .ssb-text-area-label {
            font-size: 14px;
            margin-bottom: 5px;
        }
        & .select-languge-container {
            display: inline-flex;
            flex-direction: row;
            margin-top: 12px;
        }
    }
}


.select-css {
    display: flex;
	font-size: 12px;
	font-family: inherit;
	font-weight: 500;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 160px;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #162327;
	border-radius: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDgyNGQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWNoZXZyb24tZG93biI+PHBvbHlsaW5lIHBvaW50cz0iNiA5IDEyIDE1IDE4IDkiPjwvcG9seWxpbmU+PC9zdmc+");
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: 1.65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border: 1px solid #00824d;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}