@import '_master.scss';

@function calc-row-width($value1, $value2) {
    @return $value1 * $value2;
}

.subset-codes {
    & .subset-codes-search-container {
        & .subset-codes-list {
            width: 100%;
            list-style-type: none;
            & button {
                background: none;
                border: none;
            }
            & .panel {
                max-width: $CurrentColomWidth;
                padding: 12px;
                background-color: aliceblue;
            }
        }
    }
}

.list button {
    background: none;
    border: none;
}

.list li {
    list-style-type: none;
}